// Imports
@import "./components/app.responsive";
@import "./components//nav";
@import "./components/dropdown";
@import "./components/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans";
}

a {
  color: $Dark-grayish-blue !important;
}

h1 {
  font-weight: bold;
}

h4 {
  font-size: 1rem !important;
  color: $Orange;
  background: $Pale-orange;
  padding: 0.2rem 0.4rem;
}

h5 {
  font-size: 1rem !important;
  color: $Grayish-blue;
}

p {
  color: $Dark-grayish-blue;
}

h6 {
  color: $Orange;
  font-weight: 700;
  font-size: 0.8rem !important;
  letter-spacing: 0.1rem;
}

button {
  background: $Orange !important;
  border: none !important;
}

.counter {
  background: $Light-grayish-blue !important;
  svg {
    color: $Orange !important;
  }
}

.page {
  min-height: 100vh;
  position: relative;
  .nav-bar {
    min-height: 15vh;
    //border: 2px solid blue;
  }
  .main-content {
    //min-height: 84.5vh;
    //border: 2px solid red;
  }
}
