// Imports
@import "./components/app.responsive";
@import "./components//nav";
@import "./components/dropdown";
@import "./components/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans";
}

a {
  color: $Dark-grayish-blue !important;
}

.page {
  min-height: 100vh;
  position: relative;
  .nav-bar {
    min-height: 15vh;
    //border: 2px solid blue;
  }
  .main-content {
    //min-height: 84.5vh;
    //border: 2px solid red;
  }
}